.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 30px;
}

.detailsBtn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #43d7ff;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: background-color 0.3s, border-color 0.3s;
}

.detailsBtn:hover {
  border: 1px solid #ffffff;
  background-color: #43d7ff;
}

.detailsBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.detailsBoxInfo {
  padding-top: 20px;
}

.detailsBoxTitle {
  font-size: 23px;
  margin-bottom: 20px;
}

.detailsBoxParagraph {
  font-size: 14px;
  margin-bottom: 20px;
}

.detailsBoxParagraph:last-child {
  margin-bottom: 0;
}

.detailsBoxSubTitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.detailsSubTitle {
  margin-bottom: 10px;
}

.detailsNavLink {
  margin-bottom: 15px;
}

.detailsLink {
  margin-right: 5px;
}

.detailsLink:hover {
  border-bottom: 1px solid #43d7ff;
}

@media screen and (min-width: 768px) {
  .detailsBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .detailsBoxInfo {
    margin-left: 15px;
    padding-top: 20px;
    padding-right: 20px;
  }
}