.castCardList {
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.castListItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 2px 5px rgba(67, 215, 255, 0.5);
  max-width: 230px;
  width: calc((100% - 16px) / 3);
}

.castItemImg {
  margin-bottom: 10px;
}

.castParagraphActor {
  font-weight: 600;
}
