.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  margin-bottom: 30px;
}

.listItem {
  margin-left: 30px;
  margin-bottom: 3px;
  border-bottom: 1px solid transparent;
}

.listItemParagraph {
  display: inline-block;
}

.listItemParagraph:hover {
  border-bottom: 1px solid #43d7ff;
  transition: transform 0.5s ease;
  transform: scale(1.1);
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .listItem {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .listItem {
    margin-left: 100px;
  }
}
