.formBox {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  margin-bottom: 40px;
  align-items: center;
  flex-direction: column;
}

.inputUp {
  padding-top: 50px;
}

.input {
  color: #ffffff;
  width: 250px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: transparent;
  border: 1px solid #43d7ff;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.input:focus {
  border: 1px solid #43d7ff;
  outline: none;
}

.btn {
  color: #ffffff;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #43d7ff;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn:hover {
  border: 1px solid #ffffff;
  background-color: #43d7ff;
}

@media screen and (min-width: 768px) {
  .formBox {
    flex-direction: row;
  }

  .input {
    margin-right: 30px;
    margin-bottom: 0;
    width: 300px;
  }
}
